<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ServiceName}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/write.css')}}">
</head>

<body>
    <div class="load flex">
        <img src="{{url_for('static', filename='img/logo.svg')}}" width="80px">
        <h1 style="margin-top: 10px;">{{ServiceName}}</h1>
        <h3 class="b4" style="color: grey;">편집기</h3>
    </div>

    <div class="offline flex" style="flex-direction: column;">
        <img src="{{url_for('static', filename='img/logo.svg')}}" class="err-img">
        <h2 style="margin-top: 20px;">기기에서 서버와<br>통신할 수 없습니다.</h2>
        <p
            style="width: 80%; margin-top: 20px; background-color: rgb(240, 240, 240); padding: 10px 10px; border-radius: 10px; color: grey; max-width: 400px;">
            서비스를 사용하기 위해, 인터넷에 연결되어있어야 합니다. 접속한 기기가 인터넷에 연결되어있는지 확인해주세요.</p>
    </div>


    <div class="mobile flex" style="flex-direction: column;">
        <img src="{{url_for('static', filename='img/logo.svg')}}" class="err-img">
        <h2 style="margin-top: 20px;">현재 해상도를<br>지원하지 않습니다.</h2>
        <p
            style="width: 80%; margin-top: 20px; background-color: rgb(240, 240, 240); padding: 10px 10px; border-radius: 10px; color: grey; max-width: 400px;">
            접속한 기기의 해상도가 매우 낮거나, 모바일로 접속된 것으로 인식되었습니다. 다른 기기에서 다시시도해주세요.</p>
    </div>

    <div class="spell_ckt flex">
        <div class="spell_ckt-load flex">
            <img src="{{url_for('static', filename='img/logo.svg')}}" width="80px">
            <h1 style="margin-top: 10px;">{{ServiceName}}</h1>
            <h3 class="b4" style="color: grey;">맞춤법 검사기</h3>  
            <h5 style="margin-top: 20px; color: rgb(240, 240, 240); text-align: center;" class="b4 f4 spell-load-text">작성된 글을 검토하는 중입니다.</h5>  
        </div>
        <header>
            <div class="inner-header" style="width: calc(100% - 40px);">
                <img src="{{url_for('static', filename='img/logo.svg')}}" class="logo-img">
                <h3 style="margin-left: 10px;">{{ServiceName}}</h3>
                <h3 class="b4" style="color: grey; margin-left: 10px;">맞춤법 검사기</h3>
            <button class="logout b6" onclick="javascript:end_spell();">검토 중단</button>

            </div>
        </header>
        <h1>더 자연스러운 문장을 선택해 주세요.</h1>
        <h5 class="b4 f2" style="margin-top: 10px; color: grey;">왼쪽을 선택할 경우 원본, 오른쪽을 선택할 경우 맞춤법 검사가 완료된 문장으로 바뀝니다.</h5>
        <div class="flex" style="margin-top: 20px;">
            <div class="selbox ani" id="O1">
            </div>
            <h1 style="color: rgb(240, 240, 240);">→</h1>
            <div class="selbox ani" id="O2">
            </div>
        </div>
        <div class="progress ani"></div>
    </div>



    <header style="background-color: rgb(250, 250, 250);">
        <div class="inner-header" style="width: calc(100% - 40px);">
            <img src="{{url_for('static', filename='img/logo.svg')}}" class="logo-img">
            <h3 style="margin-left: 10px;">{{ServiceName}}</h3>
            <h3 class="b4" style="color: grey; margin-left: 10px;">편집기</h3>
            <button class="logout b6" onclick="javascript:location.href = '/'">로그아웃→</button>
        </div>
    </header>
    <div class="write-grid">
        <div class="grid-item">
            <textarea class="b4 f3" placeholder="여기를 클릭해보세요." spellcheck="false"></textarea>
            <div class="word-recommend" style="justify-content: left;">

            </div>
        </div>

        <div class="grid-item" style="flex-direction: column;">
            <div class="text-info">
                <div class="text-info-item">
                    <h4 class="b4" style="color: grey;">글자수</h4>
                    <h1 class="char-num">0자</h1>    
                </div>
                <div class="text-info-item">
                    <h4 class="b4" style="color: grey;">바이트수</h4>
                    <h1 class="bytenum">0Byte</h1>  
                </div>
                <div class="text-info-item">
                    <h4 class="b4" style="color: grey;">AI 키워드</h4>
                    <div class="keywords-box">
                        <div class="keywords">키워드 탐색중</div>
                        <div class="keywords">10키워드 이상 입력 필수</div>
                        <div class="keywords">30초 간격 새로고침</div>
                    </div>
                </div>
                
                <div class="btn flex" style="flex-direction: column;">
                    <h6 class="b5 f1" style="margin-bottom: 5px; color: rgb(200, 200, 200);" id="Backup">자동저장 완료✓</h6>
                    <button class="submit b6 f2">맞춤법 검사하기</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/spell.js')}}"></script>
<script src="{{url_for('static', filename='js/write.js')}}"></script>
</html>